<a href="https://colab.research.google.com/github/mohdahmad242/PID-detection/blob/main/EDA_new_batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Import Library

In [ ]:
import json
import pandas as pd
import cv2
import random
import os
from os import listdir
from os.path import isfile, join

# New annotations

In [ ]:
annotation_dir = "/content/drive/MyDrive/Official Folder DigitalTwins/Data/coco_converted/annots"
img_anno = [join(annotation_dir, f) for f in listdir(annotation_dir) if isfile(join(annotation_dir, f))]

In [ ]:
final_anno = []
for file in img_anno:
  with open(file) as f:
    anno = json.load(f)
  final_anno.extend(anno['annotations'])

In [ ]:
df = pd.DataFrame(final_anno)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6373 entries, 0 to 6372
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          4316 non-null   float64
 1   bbox          6373 non-null   object
 2   category_id   6373 non-null   int64
 3   annot_id      6373 non-null   int64
 4   image_id      6373 non-null   int64
 5   iscrowd       6373 non-null   int64
 6   segmentation  4316 non-null   object
 7   classId       6373 non-null   object
 8   className     6373 non-null   object
 9   value         6373 non-null   object
dtypes: float64(1), int64(4), object(5)
memory usage: 498.0+ KB

In [ ]:
df.head()

           area  ...     value
0  24226.470188  ...
1  25591.603699  ...
2  33076.899801  ...  41LAL 14
3  15912.918696  ...
4   7769.853904  ...

[5 rows x 10 columns]

In [ ]:
df.className.unique().shape

(18,)

In [ ]:
line = df[df.className == 'line']

In [ ]:
line.head()

     area                                              bbox  ...  className  value
98    NaN  [4722.1928, 4301.651199999999, 87.0666, 62.2468]  ...       line
99    NaN  [4722.1928, 4301.651199999999, 87.0666, 62.2468]  ...       line
100   NaN  [4722.1928, 4301.651199999999, 87.0666, 62.2468]  ...       line
101   NaN  [4722.1928, 4301.651199999999, 87.0666, 62.2468]  ...       line
102   NaN  [4722.1928, 4301.651199999999, 87.0666, 62.2468]  ...       line

[5 rows x 10 columns]

In [ ]:
df.className.unique()

array(['Instrument', 'text', 'Unidentified', 'Valve', 'Flow_Direction',
       'Plug', 'Flange', 'Tank_Vessel', 'unidentified', 'line', 'Pump',
       'Engine', 'Line_Break', 'Actuator', 'Connector', 'Concentric',
       'Separator', 'Flange_Blind'], dtype=object)

In [ ]:
df.className = df.className.str.lower()

In [ ]:
df.className.unique(), df.className.unique().shape

(array(['instrument', 'text', 'unidentified', 'valve', 'flow_direction',
        'plug', 'flange', 'tank_vessel', 'line', 'pump', 'engine',
        'line_break', 'actuator', 'connector', 'concentric', 'separator',
        'flange_blind'], dtype=object), (17,))

# Old Annotations

In [ ]:
with open("/content/PID (1).json") as f:
  ann = json.load(f)

In [ ]:
ann.keys()

dict_keys(['info', 'licenses', 'images', 'annotations', 'categories'])

In [ ]:
old_df = pd.DataFrame(ann['annotations'])

In [ ]:
old_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6225 non-null   int64
 1   image_id      6225 non-null   int64
 2   segmentation  6225 non-null   object
 3   iscrowd       6225 non-null   int64
 4   bbox          6225 non-null   object
 5   area          6225 non-null   int64
 6   category_id   6225 non-null   int64
dtypes: int64(5), object(2)
memory usage: 340.6+ KB

In [ ]:
6373+6225

12598

In [ ]:
def add_class(col):
  for i in ann['categories']:
    if i['id'] == col:
      return i['name'].lower()

In [ ]:
old_df['className'] = old_df['category_id'].apply(add_class)

In [ ]:
old_df.head()

   id  image_id  ... category_id   className
0   1         1  ...      352833  instrument
1   2         1  ...      352833  instrument
2   3         1  ...      352833  instrument
3   4         1  ...      352842  concentric
4   5         1  ...      352845  line_break

[5 rows x 8 columns]

In [ ]:
print((old_df.className.unique())), print(df.className.unique())

['instrument' 'concentric' 'line_break' 'flow_direction' 'unidentified'
 'inside text' 'text' 'tank_vessel' 'valve' 'flange' 'actuator'
 'connector' 'separator' 'engine' 'plug' 'flange_blind' 'piping_lines'
 'other_lines']
['instrument' 'text' 'unidentified' 'valve' 'flow_direction' 'plug'
 'flange' 'tank_vessel' 'line' 'pump' 'engine' 'line_break' 'actuator'
 'connector' 'concentric' 'separator' 'flange_blind']

(None, None)

In [ ]:
old = old_df.className.unique().tolist()
old.sort()
new = df.className.unique().tolist()
new.sort()

In [ ]:
old, len(old)

(['actuator',
  'concentric',
  'connector',
  'engine',
  'flange',
  'flange_blind',
  'flow_direction',
  'inside text',
  'instrument',
  'line_break',
  'other_lines',
  'piping_lines',
  'plug',
  'separator',
  'tank_vessel',
  'text',
  'unidentified',
  'valve'],
 18)

In [ ]:
Total number of classes in old annotations are 18,
These are the classes that old have but not there in new one -> "inside text", "other_lines", and "piping_lines".
Total number of classes in New annotations are 17,
Classes that are present in new annotations but are not in old one -> "line" and "pump"

My suggestion is to combine "other_lines" and "piping_lines" to create one "line" class similar to New annotation. 
And also combine "inside text" class with "text" class in old annotation. 
After that we can use both annotations combined.

In [ ]:
new, len(new)

(['actuator',
  'concentric',
  'connector',
  'engine',
  'flange',
  'flange_blind',
  'flow_direction',
  'instrument',
  'line',
  'line_break',
  'plug',
  'pump',
  'separator',
  'tank_vessel',
  'text',
  'unidentified',
  'valve'],
 17)

In [ ]:
class_comp = {
    "old": old,
    "new": new
}